# Configuración de Variables de Entorno para Render / Local
PORT=3000
SPREADSHEET_ID=1eQ9Y5diL5fwxYTxvseNgZJFbX-lSUQ13axbp3cLiqPc

# Google Service Account Credentials
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-service-account@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ntu_private_key_aqui\n-----END PRIVATE KEY-----\n"
