# Configuración de Variables de Entorno para Render / Local
PORT=3000
DRIVE_FOLDER_ID=1qpXukDfaovrVltV74NL9WpBzr1Ig916z
SPREADSHEET_ID=1eQ9Y5diL5fwxYTxvseNgZJFbX-lSUQ13axbp3cLiqPc

# Configuración del Trigger de Extracción Automática
ENABLE_AUTO_TRIGGER=true
EXTRACTION_INTERVAL_MINUTES=5

# Google Service Account Credentials
GOOGLE_SERVICE_ACCOUNT_EMAIL=ruteobe@ruteo-496414.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ntu_private_key_aqui\n-----END PRIVATE KEY-----\n"
